{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - KR Store</title>
    <link rel="stylesheet" href="{% static 'dept_about.css' %}">
    <script defer src="script.js"></script>
    <link rel="stylesheet" href="{% static 'home_page.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barriecito&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<style>
    .logo {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-style: italic;
        color: #fdf3f3;
    }
</style>
<body>
    <div class="background-animation"></div>
    <header>
        <nav>
            <h1 class="logo" style="font-size: 50px;">KR Store</h1>
            <div class="menu-toggle" onclick="toggleMenu()">&#9776;</div>
            <ul class="nav-links">
                <li><a href="/index">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="#">Company</a>
                    <ul class="dropdown-content">
                        <li><a href="/demart">Demart</a></li>
                        <li><a href="/spencers">Spencers</a></li>
                    </ul>
                </li>
                <li><a href="/product">Product</a></li>
                <li><a href="/contact">Contact</a></li>
                <li class="dropdown1"><a href="#" style="font-size: x-large; color: red; margin-right: 40px;">{{request.session.fname}}</a>                  
                    <ul class="dropdown-content1">
                        <li><a href="/">Signin</a></li>
                        <li><a href="/signup">Signup</a></li>
                        <li><a href="/loggout">Logout</a></li>
                        {% if "admin7871@gmail.com" == request.session.email %}
                        <li><a href="/dashboard">Admin Dashboard</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </nav>  
        <div class="about-section">
            <!-- <h1><u> Your Trusted Department Store</u></h1> -->
            <h1 style="color: red;"><u>Welcome to KRStore</u></h1>
            <p>At KRStore, we are committed to providing a one-stop shopping experience with a wide variety of products at unbeatable prices. Established in 2025, our mission has always been to deliver quality, affordability, and exceptional customer service.</p>
            <h2 style="color: rgb(157, 255, 0);"><u>Meet Our Team</u></h2>
            <p>Behind KRStore is a team of passionate professionals who work tirelessly to bring you the best shopping experience. Our leaders, managers, and staff are dedicated to making your visit worthwhile..</p>
          </div>
          
          <h2 style="text-align:center">Our Team</h2>
          <div class="row">
            <div class="column">
              <div class="card">
                <a href="/demart"><img src="{% static 'img/demart.png' %}" alt="Jane" style="width:70%" ></a>
                <div class="container">
                  <!-- <p><button class="button">Contact</button></p> -->
                </div>
              </div>
            </div>
          
            <div class="column">
              <div class="card">
                <a href="/spencers"><img src="{% static 'img/spencers.jpg' %}" alt="Mike" style="width:80%" height="150px"></a>
                <div class="container">
                  <!-- <p><button class="button">Contact</button></p> -->
                </div>
              </div>
            </div>
          
            <div class="column">
              <div class="card">
                <img src="{% static 'img/spencers.jpg' %}" alt="Mike" style="width:80%" height="150px">
                <div class="container">
                  <!-- <p><button class="button">Contact</button></p> -->
                </div>
              </div>
            </div>
            
    </section>
    <script>
        function toggleMenu() {
            const navLinks = document.querySelector('.nav-links');
            navLinks.classList.toggle('active');
        }
    </script>
</body>
</html>