{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KR Store Dashboard</title>
    <link rel="stylesheet" href="{% static 'report.css' %}">
</head>
<body>
    <div class="sidebar">
        <h2>Admin Panel</h2>
        <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/dashboard_order">Orders</a></li>
            <li><a href="/dashboard_product">Products</a></li>
            <li><a href="/dashboard_customer">Customers</a></li>
            <li><a href="/report">Reports</a></li>
            <li><a href="/dashboard_feedback">Feeback</a></li>
            <!-- <li><a href="/setting">Settings</a></li> -->
        </ul>
    </div>
    <div class="main-content">
        <header>
            <h1>Reports</h1>
        </header>
        <section class="table">
            <h2>Montly Reports</h2>
            <table>
                <tr>
                    <th>Month</th>
                    <th>Year</th>
                    <th>Total Orders</th>
                    <!-- <th>Total Sales</th>
                    <th>Orders Processed</th> -->
                    <th>Total Amount</th>
                </tr>
                <tr>
                    <td>{{ month }}</td>
                    <td>{{ year }}</td>
                    <td>{{ orders }}</td>
                    <td>₹{{ total_sales }}</td>
                    <!-- <td>150</td>
                    <td>120</td> -->
                    <!-- <td>$25,000</td> -->
                </tr>
            </table>
            <h2>Daliy Reports</h2>
            <table>
                <tr>
                    <th>Date</th>
                    <th>Total Orders</th>
                    <!-- <th>Total Orders</th> -->
                    <!-- <th>Total Sales</th>
                    <th>Orders Processed</th> -->
                    <th>Total Amount</th>
                </tr>
                <tr>
                    <td>{{ selected_date }}</td>
                    <td>{{ daily_orders }}</td>
                    <td>{{ daily_amount }}</td>
                    <!-- <td>₹{{ total_sales }}</td> -->
                    <!-- <td>150</td>
                    <td>120</td> -->
                    <!-- <td>$25,000</td> -->
                </tr>
            </table>
        </section>
    </div>
</body>
</html>